@import "mixins";

.content {
    margin: 5px;
    background-color: #fff;
    line-height: 26px;
    @include tablet() {
      max-width: 1040px;
      margin: 20px;
    }
    @include desktop() {
      max-width: 1040px;
      margin: 20px auto;
    }
  h1 {
    color: rgb(51, 0, 255);
    text-align: center;
    margin-bottom: 25px;
  }
  h2 {
    margin: 10px;
    @include tablet() {
      margin: 25px;
    }
    @include desktop() {
      margin: 0 35px 15px 35px;
    }
  }
  h3 {
    text-align: start;
    margin: 0 10px 10px 10px;
    font-weight: normal;
    @include tablet() {
      margin: 0 25px 25px 25px;
    }
    @include desktop() {
      margin: 0 35px 15px 35px;
    }
  }
  li {
    margin-right: 10px;
    @include tablet() {
      margin: 0 25px 25px 25px;
    }
    @include desktop() {
      margin: 0 35px 15px 35px;
    }
  }
  p {
    text-align: center;
  }
}
