---
layout: default
css: course
---

<div class="banner">
  <div class="carousel-slide">
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img
          src="{{ site.baseurl }}/assets/images/1.webp"
          alt="banner"
          width="100%"
          height="100%"
        />
        <!-- <div class="text">Caption Text</div> -->
      </div>

      <div class="mySlides fade">
        <img
          src="{{ site.baseurl }}/assets/images/2.webp"
          alt="banner"
          width="100%"
          height="100%"
        />
        <!-- <div class="text">Caption Two</div> -->
      </div>

      <div class="mySlides fade">
        <img
          src="{{ site.baseurl }}/assets/images/3.webp"
          alt="banner"
          width="100%"
          height="100%"
        />
        <!-- <div class="text">Caption Three</div> -->
      </div>

      <div class="prev" onclick="plusSlides(-1)">❮</div>
      <div class="next" onclick="plusSlides(1)">❯</div>
    </div>
    <br />

    <div style="text-align: center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
  </div>
</div>

<div class="head">
  <div class="row">
    <h3>Bạn muốn học gì hôm nay?</h3>
  </div>
</div>

<div class="course-new">
  <div class="container">
    <div class="title">
      <div class="col">
        <h4>TOP BÁN CHẠY</h4>
        <a href="#">Xem thêm <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>
    <div class="cover">
      <div class="detail">
        <div class="box">
          <a href="#">
            <span>-58%</span>
            <img
              width="100%"
              height="100%"
              src="{{ site.baseurl }}/assets/images/thiet-ke-trinh-chieu-powerpoint-2016.webp"
              alt="sửa sau khi map detail"
            />
            <div class="content-course">
              <h3>Thiết kế trình chiếu PowerPoint 2016 từ A-Z</h3>
              <div class="name">
                <b>Đặng Trọng Khang</b>
                <div class="price">600.000<sup>đ</sup></div>
              </div>
            </div>
            <div class="price-course">
              <div class="rate-combo">
                <p><i>★★★★★ </i>(648)</p>
              </div>
              <div class="price">250.000<sup>đ</sup></div>
            </div>
          </a>
        </div>
      </div>
      <div class="detail">
        <div class="box">
          <a href="#">
            <span>-34%</span>
            <img
              width="100%"
              height="100%"
              src="{{ site.baseurl }}/assets/images/khoa-hoc-lam-chu-giong-noi.webp"
              alt="sửa sau khi map detail"
            />
            <div class="content-course">
              <h3>Làm chủ giọng nói</h3>
              <div class="name">
                <b>Trần Thị Minh Hải</b>
                <div class="price">600.000<sup>đ</sup></div>
              </div>
            </div>
            <div class="price-course">
              <div class="rate-combo">
                <p><i>★★★★★ </i>(303)</p>
              </div>
              <div class="price">399.000<sup>đ</sup></div>
            </div>
          </a>
        </div>
      </div>
      <div class="detail">
        <div class="box">
          <a href="#">
            <span>-58%</span>
            <img
              width="100%"
              height="100%"
              src="{{ site.baseurl }}/assets/images/nghe-thuat-thoi-ken-dinh-cao.webp"
              alt="sửa sau khi map detail"
            />
            <div class="content-course">
              <h3>Nghệ thuật J đỉnh cao</h3>
              <div class="name">
                <b>Trang Trần</b>
                <div class="price">700.000<sup>đ</sup></div>
              </div>
            </div>
            <div class="price-course">
              <div class="rate-combo">
                <p><i>★★★★★ </i>(648)</p>
              </div>
              <div class="price">479.000<sup>đ</sup></div>
            </div>
          </a>
        </div>
      </div>
      <div class="detail">
        <div class="box">
          <a href="#">
            <span>-63%</span>
            <img
              width="100%"
              height="100%"
              src="{{ site.baseurl }}/assets/images/hoc-photoshop.webp"
              alt="sửa sau khi map detail"
            />
            <div class="content-course">
              <h3>Cắt ghép Banner, Poster sản phẩm đơn giản bằng Photoshop</h3>
              <div class="name">
                <b>Mai Xuân Huy (Huy Quần Hoa)</b>
                <div class="price">800.000<sup>đ</sup></div>
              </div>
            </div>
            <div class="price-course">
              <div class="rate-combo">
                <p><i>★★★★★ </i>(18)</p>
              </div>
              <div class="price">299.000<sup>đ</sup></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="course-new">
  <div class="container">
    <div class="title">
      <div class="col">
        <h4>SIÊU ƯU ĐÃI HÔM NAY</h4>
        <a href="#">Xem thêm <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>
    <div class="cover">
      <div class="detail">
        <div class="box">
          <a href="#">
            <span>-75%</span>
            <img
              width="100%"
              height="100%"
              src="{{ site.baseurl }}/assets/images/tiktok.webp"
              alt="sửa sau khi map detail"
            />
            <div class="content-course">
              <h3>
                TikTok : Tiếp cận 100.000+ khách hàng trong 30 ngày với chi phí
                0 đồng
              </h3>
              <div class="name">
                <b>Cấn Mạnh Linh</b>
                <div class="price">390.000<sup>đ</sup></div>
              </div>
            </div>
            <div class="price-course">
              <div class="rate-combo">
                <p><i>★★★★★ </i>(15)</p>
              </div>
              <div class="price">99.000<sup>đ</sup></div>
            </div>
          </a>
        </div>
      </div>
      <div class="detail">
        <div class="box">
          <a href="#">
            <span>-79%</span>
            <img
              width="100%"
              height="100%"
              src="{{ site.baseurl }}/assets/images/thu-nhap-thu-dong.webp"
              alt="sửa sau khi map detail"
            />
            <div class="content-course">
              <h3>
                Thu nhập thụ động từ việc Đóng gói kiến thức & tạo khoá học
                Online
              </h3>
              <div class="name">
                <b>Nguyễn Chương</b>
                <div class="price">900.000<sup>đ</sup></div>
              </div>
            </div>
            <div class="price-course">
              <div class="rate-combo">
                <p><i>★★★★★ </i>(16)</p>
              </div>
              <div class="price">190.000<sup>đ</sup></div>
            </div>
          </a>
        </div>
      </div>
      <div class="detail">
        <div class="box">
          <a href="#">
            <span>-79%</span>
            <img
              width="100%"
              height="100%"
              src="{{ site.baseurl }}/assets/images/kinh-doanh.webp"
              alt="sửa sau khi map detail"
            />
            <div class="content-course">
              <h3>Kinh doanh từ A đến Z</h3>
              <div class="name">
                <b>Nguyễn Minh Cường</b>
                <div class="price">950.000<sup>đ</sup></div>
              </div>
            </div>
            <div class="price-course">
              <div class="rate-combo">
                <p><i>★★★★★ </i>(16)</p>
              </div>
              <div class="price">199.000<sup>đ</sup></div>
            </div>
          </a>
        </div>
      </div>
      <div class="detail">
        <div class="box">
          <a href="#">
            <span>-79%</span>
            <img
              width="100%"
              height="100%"
              src="{{ site.baseurl }}/assets/images/thu-nhap-thu-dong.webp"
              alt="sửa sau khi map detail"
            />
            <div class="content-course">
              <h3>
                Thu nhập thụ động từ việc Đóng gói kiến thức & tạo khoá học
                Online
              </h3>
              <div class="name">
                <b>Nguyễn Chương</b>
                <div class="price">900.000<sup>đ</sup></div>
              </div>
            </div>
            <div class="price-course">
              <div class="rate-combo">
                <p><i>★★★★★ </i>(16)</p>
              </div>
              <div class="price">190.000<sup>đ</sup></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/js/slider.coffee"></script>
