---
layout: default
css: course
---

<div class="head">
  <div class="row">
    <h3>Bạn muốn học gì hôm nay?</h3>
  </div>
</div>
<div class="course-new">
  <div class="container">
    <div class="title">
      <div class="col">
        <h4>TOP BÁN CHẠY</h4>
        <a href="#">Xem thêm</a>
      </div>
    </div>
    <div class="detail">
      <div class="box">
        <a href="#">
          <span>-58%</span>
          <img
            src="{{ site.baseurl }}/assets/images/tu-do-tai-chinh-cung-chung-khoan.jpg"
            alt=""
          />
          <div class="content-course">
            <h3>Tự do tài chính cùng chứng khoán</h3>
            <div class="name">
              <b>Đặng Trọng Khang</b>
              <div class="price">600.000<sup>đ</sup></div>
            </div>
          </div>
          <div class="price-course">
            <div class="rate-combo">
              <p><i>★★★★★ </i>(648)</p>
            </div>
            <div class="price">250.000<sup>đ</sup></div>
          </div>
        </a>
      </div>
    </div>
    <div class="detail">
      <div class="box">
        <a href="#">
          <span>-34%</span>
          <img
            src="{{ site.baseurl }}/assets/images/khoa-hoc-lam-chu-giong-noi.jpg"
            alt=""
          />
          <div class="content-course">
            <h3>Làm chủ giọng nói</h3>
            <div class="name">
              <b>Trần Thị Minh Hải</b>
              <div class="price">600.000<sup>đ</sup></div>
            </div>
          </div>
          <div class="price-course">
            <div class="rate-combo">
              <p><i>★★★★★ </i>(303)</p>
            </div>
            <div class="price">399.000<sup>đ</sup></div>
          </div>
        </a>
      </div>
    </div>
    <div class="detail">
      <div class="box">
        <a href="#">
          <span>-63%</span>
          <img
            src="{{ site.baseurl }}/assets/images/hoc-photoshop.jpg"
            alt=""
          />
          <div class="content-course">
            <h3>Cắt ghép Banner, Poster sản phẩm đơn giản bằng Photoshop</h3>
            <div class="name">
              <b>Mai Xuân Huy (Huy Quần Hoa)</b>
              <div class="price">800.000<sup>đ</sup></div>
            </div>
          </div>
          <div class="price-course">
            <div class="rate-combo">
              <p><i>★★★★★ </i>(18)</p>
            </div>
            <div class="price">299.000<sup>đ</sup></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="course-new">
  <div class="container">
    <div class="title">
      <div class="col">
        <h4>SIÊU ƯU ĐÃI HÔM NAY</h4>
        <a href="#">Xem thêm</a>
      </div>
    </div>
    <div class="detail">
      <div class="box">
        <a href="#">
          <span>-75%</span>
          <img src="{{ site.baseurl }}/assets/images/tiktok.jpg" alt="" />
          <div class="content-course">
            <h3>
              TikTok : Tiếp cận 100.000+ khách hàng trong 30 ngày với chi phí 0
              đồng
            </h3>
            <div class="name">
              <b>Cấn Mạnh Linh</b>
              <div class="price">390.000<sup>đ</sup></div>
            </div>
          </div>
          <div class="price-course">
            <div class="rate-combo">
              <p><i>★★★★★ </i>(15)</p>
            </div>
            <div class="price">99.000<sup>đ</sup></div>
          </div>
        </a>
      </div>
    </div>
    <div class="detail">
      <div class="box">
        <a href="#">
          <span>-79%</span>
          <img
            src="{{ site.baseurl }}/assets/images/thu-nhap-thu-dong.jpg"
            alt=""
          />
          <div class="content-course">
            <h3>
              Thu nhập thụ động từ việc Đóng gói kiến thức & tạo khoá học Online
            </h3>
            <div class="name">
              <b>Nguyễn Chương</b>
              <div class="price">900.000<sup>đ</sup></div>
            </div>
          </div>
          <div class="price-course">
            <div class="rate-combo">
              <p><i>★★★★★ </i>(16)</p>
            </div>
            <div class="price">190.000<sup>đ</sup></div>
          </div>
        </a>
      </div>
    </div>
    <div class="detail">
      <div class="box">
        <a href="#">
          <span>-79%</span>
          <img src="{{ site.baseurl }}/assets/images/kinh-doanh.jpg" alt="" />
          <div class="content-course">
            <h3>Kinh doanh từ A đến Z</h3>
            <div class="name">
              <b>Nguyễn Minh Cường</b>
              <div class="price">950.000<sup>đ</sup></div>
            </div>
          </div>
          <div class="price-course">
            <div class="rate-combo">
              <p><i>★★★★★ </i>(16)</p>
            </div>
            <div class="price">199.000<sup>đ</sup></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
