<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="General information page" />
    <title>{{ page.title }}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css" />
    {% if page.css %}
    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/assets/css/{{ page.css }}.css"
    />
    {% endif %}
  </head>

  <body>
    <header class="header">
      <nav class="top-nav" id="top-nav">
        <a href="{{ site.baseurl }}/" class="logo">
          <img width="100%" height="100%" src="{{ site.baseurl }}/assets/images/logo_skygofl_fb.webp" alt="Logo" />
        </a>
        {% if page.code == 'home' %}
        <a href="{{ site.baseurl }}/" class="active">Trang chủ</a>
        {% else %}
        <a href="{{ site.baseurl }}/">Trang chủ</a>
        {% endif %} {% if page.code == 'about' %}
        <a href="{{ site.baseurl }}/about" class="active">Giới thiệu</a>
        {% else %}
        <a href="{{ site.baseurl }}/about">Giới thiệu</a>
        {% endif %} {% if page.code == 'contact' %}
        <a href="{{ site.baseurl }}/contact" class="active">Liên hệ</a>
        {% else %}
        <a href="{{ site.baseurl }}/contact">Liên hệ</a>
        {% endif %} {% if page.code == 'course' %}
        <a href="{{ site.baseurl }}/course" class="active">Khoá học</a>
        {% else %}
        <a href="{{ site.baseurl }}/course">Khoá học</a>
        {% endif %}
        <button class="icon" onclick="toggleNavigation()" aria-label="navbar">
          <i class="fa fa-bars"></i>
        </button>
      </nav>
    </header>
    <div class="content">{{ content }}</div>
    <footer class="footer">
      <div class="feedback">
        <h3>Ý KIẾN BÀI VIẾT</h3>
        <div class="e-mail">
          <a style="background-image: url('{{ site.baseurl }}/assets/images/icon_mail_mb.webp');" href="mailto:skytimes.vn@gmail.com">skytimes.vn@gmail.com</a> 
        </div>
      </div>
      <div class="content-cooperation">
        <h3>HỢP TÁC NỘI DUNG</h3>
        <div class="e-mail">
          <a style="background-image: url('{{ site.baseurl }}/assets/images/icon_mail_mb.webp');"  href="mailto:skytimes.vn@gmail.com">skytimes.vn@gmail.com</a> 
          <a style="background-image: url('{{ site.baseurl }}/assets/images/icon_telephone_mb.webp');"  href="tel:+84858565659">085.8565659</a>
        </div>
      </div>
      <div class="ad">
        <h3>HỖ TRỢ QUẢNG CÁO</h3>
        <div class="e-mail">
          <a style="background-image: url('{{ site.baseurl }}/assets/images/icon_mail_mb.webp');"  href="mailto:skytimes.vn@gmail.com">skytimes.vn@gmail.com</a> 
          <a style="background-image: url('{{ site.baseurl }}/assets/images/icon_telephone_mb.webp');"  href="tel:+84858565659">085.8565659</a>
        </div>
      </div>
      <div class="adress">
        <h3>TRỤ SỞ HÀ NỘI</h3>
        <p>
          Tháp B Tòa nhà SailS Tower - Kiến Hưng - Hà Đông - Hà Nội.
        </p>
      </div>
      <div class="copyright"> 
        <div class="contact-fb">
          <a target="_blank" href="https://www.facebook.com/skygolfvietnamese/"><img src="{{ site.baseurl }}/assets/images/fb-logo-balck.webp" alt="facebook"></a>
          <a target="_blank" href="https://www.facebook.com/t/skygolfvietnamese/"><img src="{{ site.baseurl }}/assets/images/msg-logo-black.webp" alt="facebook"></a>
        </div>
        <p>© Copyright 2022 - BẢN QUYỀN CỦA SKYTIMES</p>
      </div>
      <div class="back-to-top">
        <button aria-label="back-to-top" class="back-to-top-button">
          <a aria-label="back-to-top-arrow"  href="#">
            <div class="right_arrow"></div>
          </a>
        </button>
      </div>
    </footer>
    <div class="footer-menu">
      <div class="footer-menu-1040">
        <ul class="list-menu">
          <li class="menu1">
            <a target="_blank" href="{{ site.baseurl }}/about">THÔNG TIN</a>
          </li>
          <li class="menu">
            <a target="_blank"href="{{site.baseurl}}/course/">KHÓA HỌC</a> 
          </li>
          <li class="menu">
            <a target="_blank"href="{{ site.baseurl }}/about">THÔNG TIN</a>
          </li>
          <li class="menu">
            <a target="_blank"href="{{site.baseurl}}/course/">KHÓA HỌC</a> 
          </li>
          <li class="menu">
            <a target="_blank"href="{{ site.baseurl }}/about">THÔNG TIN</a>
          </li>
          <li class="menu">
            <a target="_blank"href="{{site.baseurl}}/course/">KHÓA HỌC</a> 
          </li>
          <li class="menu">
            <a target="_blank"href="{{ site.baseurl }}/about">THÔNG TIN</a>
          </li>
          <li class="menu">
            <a target="_blank"href="{{site.baseurl}}/course/">KHÓA HỌC</a> 
          </li>
          <li class="menu">
            <a target="_blank"href="{{ site.baseurl }}/about">THÔNG TIN</a>
          </li>
          <li class="menu">
            <a target="_blank"href="{{site.baseurl}}/course/">KHÓA HỌC</a> 
          </li>
          <li class="menu">
            <a target="_blank"href="{{ site.baseurl }}/about">THÔNG TIN</a>
          </li>
          <li class="menu">
            <a target="_blank"href="{{site.baseurl}}/course/">KHÓA HỌC</a> 
          </li>
          <li class="menu">
            <a target="_blank"href="{{ site.baseurl }}/about">THÔNG TIN</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-md">
      <!-- Hiện trên table và pc -->
      <div class="clearfix">
        <div class="contribute-content">
          <a href="{{ site.baseurl }}/"
            ><img src="{{ site.baseurl }}/assets/images/logo_skygofl_fb.webp" alt="logo"
          /></a> 
          <div class="user-response-clearfix">
            <span class="group-title"> ĐÓNG GÓP NỘI DUNG </span>
            <div class="questions-md">
              <a target="_blank" id="questions" href="{{ site.baseurl }}/about">GIỚI THIỆU VỀ CHÚNG TÔI</a> 
              <a href="mailto:skytimes.vn@gmail.com">skytimes.vn@gmail.com</a> 
            </div>
            <p>
              SKYTIMES rất hoan nghênh khách hàng gửi thông tin và góp ý cho chúng
              tôi.
            </p>
          </div>
        </div>
        <div style="background-image: url('{{ site.baseurl }}/assets/images/fb-cover-skygolf.webp');" class="facebook">
          <div class="facebook-page">
            <a
              target="_blank"
              class="facebook-page-logo"
              href="https://www.facebook.com/skygolfvietnamese/"
              ><img src="{{ site.baseurl }}/assets/images/fb_logo.webp" alt="logo"
            /></a>
            <div class="facebook-page-info">
              <a target="_blank" href="https://www.facebook.com/skygolfvietnamese/"
                >Skygolf</a
              >
            </div>
          </div>
          <div class="like-page"></div>
        </div>
      </div>
      <div class="footer-bottom">
        <!-- địa chỉ -->
        <div class="footer-bottom-left">
          <div class="footer-bottom-left-1">
            <h3>TRỤ SỞ HÀ NỘI</h3> 
            <p>
              Tháp B Tòa nhà SailS Tower - Kiến Hưng - Hà Đông - Hà Nội.
            </p>
            <a style="background-image: url('{{ site.baseurl }}/assets/images/logo_skygofl_fb.webp');" target="_blank"
              rel="nofollow"
              href="https://www.google.com/maps/place/Chung+c%C6%B0+s%C3%B4ng+nhu%E1%BB%87/@20.9637997,105.794034,16z/data=!4m12!1m6!3m5!1s0x0:0x94fcb05a388cc232!2zQ2h1bmcgY8awIHPDtG5nIG5odeG7hw!8m2!3d20.9592912!4d105.7987761!3m4!1s0x0:0x94fcb05a388cc232!8m2!3d20.9592912!4d105.7987761"
              >XEM VỊ TRÍ</a
            > 
          </div>
        </div>
        <!-- end footer footer-bottom-left -->

        <div class="footer-bottom-mid">
          <!-- hợp tác truyền thông -->
          <div class="associate">
            <p class="col-title">hợp tác truyền thông</p>
            <a style="background-image: url('{{ site.baseurl }}/assets/images/icon_telephone.webp');" href="tel:+84858565659">085.8565659</a> 
            <a style="background-image: url('{{ site.baseurl }}/assets/images/icon_mail.webp');"
              rel="nofollow"
              href="mailto:skytimes.vn@gmail.com"
              class="associate-mail"
              >skytimes.vn@gmail.com</a
            > 
          </div>

          <!-- liên hệ quảng cáo -->
          <div class="associate">
            <p class="col-title">liên hệ quảng cáo</p>
            <a style="background-image: url('{{ site.baseurl }}/assets/images/icon_telephone.webp');" href="tel:+84858565659">085.8565659</a>
            <a style="background-image: url('{{ site.baseurl }}/assets/images/icon_mail.webp');" rel="nofollow" href="skytimes.vn@gmail.com" class="associate-mail"
              >skytimes.vn@gmail.com</a
            > 
            <div class="support">
              <a
                class="chat"
                href="https://www.messenger.com/t/skygolfvietnamese"
                target="_blank"
              >
                CHAT VỚI TƯ VẤN VIÊN
              </a>
              <a target="_blank" href="{{ site.baseurl }}/contact" class="detail-ad"> XEM CHI TIẾT </a>
            </div>
          </div>
        </div>
        <!-- end footer-bottom-mid -->
        <div class="footer-bottom-right">
          <div style="background-image: url('{{ site.baseurl }}/assets/images/logo_skygofl_black.webp');" class="logo-corp" target="_blank"></div>
          <p class="col-title">
            <span>© Copyright 2022 – </span>Bản quyền của Skytimes
          </p> 
          <p>
            Tháp B Tòa nhà SailS Tower - Kiến Hưng - Hà Đông - Hà Nội.
          </p> 
          <p>
            Giấy phép thiết lập trang thông tin điện tử tổng hợp trên mạng số
            xxxx/GP-TTĐT do Sở Thông tin và Truyền thông Hà Nội cấp ngày 10
            tháng 4 năm 2019 
          </p> 
        </div>
      </div>
    </div>
    <script src="{{ site.baseurl }}/assets/js/default.js"></script>
  </body>
</html>
