<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css" />
	{% if page.css %}
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ page.css }}.css" />
	{% endif %}
</head>

<body>
	<nav class="top-nav" id="top-nav">
		<a href="#" class="logo">
			<img src="{{ site.baseurl }}/assets/images/logo.webp" alt="Logo">
		</a>
		<a href="#" class="active">Home</a>
		<a href="#">About</a>
		<a href="#">News</a>
		<a href="#">Contact</a>
		<button class="icon" onclick="toggleNavigation()"><i class="fa fa-bars"></i></button>
	</nav>
		{{ content }}
	<div class="footer">
		<div class="responsible">
			<h3>CHỊU TRÁCH NHIỆM QUẢN LÝ NỘI DUNG</h3>
			<p>Bà Nguyễn Thị A</p>
		</div>
		<div class="feedback">
			<h3>Ý KIẾN BÀI VIẾT</h3>
			<div class="e-mail">
				<a href="/">abc@gmail.com</a>
				<a href="/">Câu hỏi thường gặp</a>
			</div>
		</div>
		<div class="content-cooperation">
			<h3>HỢP TÁC NỘI DUNG</h3>
			<div class="e-mail">
				<a href="/">xyz@gmail.com</a>
				<a href="tel:+843579459xx">0357945xx9xx</a>
			</div>
		</div>
		<div class="ad">
			<h3>HỖ TRỢ QUẢNG CÁO</h3>
			<div class="ad-e-mail">
				<a href="/">123@gmail.com</a>
				<div class="phonenumber-ad">
					<a href="tel:+843579459xy">0357945xx9xx</a>
					<p> - </p>
					<a href="tel:+84xxxxxxxxy">035xxxxxxx</a>
				</div>
			</div>
		</div>
		<div class="adress">
			<h3>TRỤ SỞ HÀ NỘI</h3>
			<p>Tầng xx, xx, xx, xx Toà nhà Bottom Building - Hapulico Complex, Số x Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội.</p>
		</div>
		<div class="license">
			<p>Giấy phép thiết lập trang thông tin điện tử tổng hợp trên mạng số xxxx/GP-TTĐT do Sở Thông tin và Truyền thông Hà Nội cấp ngày 10 tháng 4 năm 2019</p>
		</div>
		<div class="copyright">
			<p>© Copyright 2007 - 2022 - CÔNG TY CỔ PHẦN VCCORP</p>
		</div>
		<div class="back-to-top">
			<button class="back-to-top-button">
				<a href="#"><div class="right_arrow"></div></a>
		</button>
		</div>
	</div>
	<script src="{{ site.baseurl }}/assets/js/default.js"></script>
	</body>
</html>
