---
layout: default
css: home
---

<div class="container">
  <div class="trending">
    <div class="trending-1">
      {% for post in site.posts limit:1 %}
      {% if post.categories contains "hot" %}
      <a href="{{ site.baseurl }}{{post.url}}" class="trending-1-img">
        <img
          src="{{ site.baseurl }}{{ post.image }}"
          alt="{{ post.title }}"
        />
      </a>
      <a aria-label="read-more" href="{{ site.baseurl }}{{post.url}}" class="trending-1-title">{{ post.title }}</a>
      <div class="more-info">
        <a aria-label="read-more" href="{{ site.baseurl }}{{post.url}}" class="link-star">{{ post.categories }}</a>
        <p>
          {{ post.description }}
        </p>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="trending-2">
      {% for post in site.posts %}
      {% if post.categories contains "update" %}
      <a aria-label="read-more" href="{{ site.baseurl }}{{post.url}}" class="trending-2-img">
        <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" />
      </a>
      <a aria-label="read-more" href="{{ site.baseurl }}{{post.url}}" class="trending-2-title">{{ post.title }}</a>
      <div class="more-info">
        <a aria-label="read-more" href="{{ site.baseurl }}{{post.url}}" class="link-star">{{ post.categories }}</a>
        <p>
          {{ post.description }}
        </p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="news">
    {% for post in site.posts %}
    {% if post.categories contains "news" %}
    <div class="content-news">
      <div class="content-news-title">
        <a aria-label="read-more" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class="content-news-img">
        <a aria-label="read-more" href="{{ site.baseurl }}{{ post.url }}"
          ><img
            src="{{ site.baseurl }}{{ post.image }}"
            alt=""
          />
        </a>
        <div class="more-info-news">
          <a haria-label="read-more" ref="/" class="link-star">{{ post.categories }}</a>
          <p>{{ post.description }}</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div>
    <div class="dont-miss">
      <h3>đừng bỏ lỡ</h3>
      <ul class="dont-miss-list">
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->

          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
      </ul>
    </div>
  </div>
</div>
