---
layout: default
css: home
---
{% assign news = site.posts | where: "categories", "news" %}
<div class="container">
  <div class="trending">
    <div class="trending-1">
      {% for post in news limit:1 %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="trending-1-img">
        <img
          src="{{ site.baseurl }}{{ post.image }}"
          alt="{{ post.title }}"
        />
      </a>
      <a aria-label="read-more" href="{{ site.baseurl }}{{post.url}}" class="trending-1-title">{{ post.title }}</a>
      <div class="more-info">
        <a aria-label="read-more" href="{{ site.baseurl }}{{post.url}}" class="link-star">{{ post.categories }}</a>
        <p>
          {{ post.description }}
        </p>
      </div>
      {% endfor %}
    </div>

    <div class="trending-2">
      {% for post in site.posts %}
      {% if post.categories contains "update" %}
      <a aria-label="read-more" href="{{ site.baseurl }}{{post.url}}" class="trending-2-img">
        <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" />
      </a>
      <a aria-label="read-more" href="{{ site.baseurl }}{{post.url}}" class="trending-2-title">{{ post.title }}</a>
      <div class="more-info">
        <a aria-label="read-more" href="{{ site.baseurl }}{{post.url}}" class="link-star">{{ post.categories }}</a>
        <p>
          {{ post.description }}
        </p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="news">
    {% for post in news offset:1 %}
    <div class="content-news">
      <div class="content-news-title">
        <a aria-label="read-more" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class="content-news-img">
        <a aria-label="read-more" href="{{ site.baseurl }}{{ post.url }}"
          ><img
            src="{{ site.baseurl }}{{ post.image }}"
            alt=""
          />
        </a>
        <div class="more-info-news">
          <a haria-label="read-more" ref="/" class="link-star">{{ post.categories }}</a>
          <p>{{ post.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
    <div class="dont-miss">
      <h3>đừng bỏ lỡ các khoá học bổ ích</h3>
      <ul class="dont-miss-list">
        {% for post in site.posts %}
       {% if post.categories contains "course" %}
        <li>
          <a aria-label="read-more" href="{{ site.baseurl }}{{ post.url }}" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}{{ post.image }}"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="{{ site.baseurl }}{{ post.url }}" class="dont-miss-text"
            >{{ post.title }}</a
          >
          {% endif %}
    {% endfor %}
      </ul>
    </div>
  </div>
</div>
