---
layout: default
css: home
---

<div class="container">
  <div class="trending">
    <div class="trending-1">
      <a href="{{ site.baseurl }}{{site.posts.first.url}}" class="trending-1-img">
        <img
          src="{{ site.baseurl }}{{ site.posts.first.image }}"
          alt="Nhật Bản tạo địa chấn đánh bại Tây Ban Nha, đứng đầu bảng tử thần"
        />
      </a>
      <a aria-label="read-more" href="{{ site.baseurl }}{{site.posts.first.url}}" class="trending-1-title">{{ site.posts.first.title }}</a>
      <!-- Links are not crawlable -->
      <div class="more-info">
        <a aria-label="read-more" href="{{ site.baseurl }}{{site.posts.first.url}}" class="link-star">{{ site.posts.first.categories }}</a
        ><!-- Links are not crawlable -->
        <p>
          {{ site.posts.first.description }}
        </p>
      </div>
    </div>
    <div class="trending-2">
      <a aria-label="read-more" href="/" class="trending-2-img">
        <!-- Links are not crawlable -->
        <img src="{{ site.baseurl }}/assets/images/trending-2-2.webp" alt="" />
      </a>
      <a aria-label="read-more" href="/" class="trending-2-title"
        >Liên quan đến vụ bé gái 5 tuổi bị chủ cửa hàng quay video đăng tải lên
        mạng kèm cáo buộc “ăn cắp”, chính quyền sẽ đưa bé đi giám định sức khỏe,
        làm căn cứ xử lý.
      </a>
      <!-- Links are not crawlable -->
    </div>
  </div>
  <div class="news">
    {% for post in site.posts %}
    <div class="content-news">
      <div class="content-news-title">
        <a aria-label="read-more" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class="content-news-img">
        <a aria-label="read-more" href="{{ site.baseurl }}{{ post.url }}"
          ><img
            src="{{ site.baseurl }}{{ post.image }}"
            alt=""
          />
        </a>
        <div class="more-info-news">
          <a haria-label="read-more" ref="/" class="link-star">{{ post.categories }}</a>
          <p>{{ post.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
    <div class="dont-miss">
      <h3>đùng bỏ lỡ</h3>
      <ul class="dont-miss-list">
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->

          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
        <li>
          <a aria-label="read-more" href="/" class="dont-miss-img"
            ><img
              src="{{ site.baseurl }}/assets/images/dont-miss-img-1.webp"
              alt=""
          /></a>
          <!-- Links are not crawlable -->
          <a aria-label="read-more" href="/" class="dont-miss-text"
            >FIFA mở cuộc điều tra, Messi có thể bị cấm đá bán kết</a
          >
          <!-- Links are not crawlable -->
        </li>
      </ul>
    </div>
  </div>
</div>
